
* {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */	
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-eiwlvb');
	src:url('fonts/icomoon.eot?#iefix-eiwlvb') format('embedded-opentype'),
		url('fonts/icomoon.woff?-eiwlvb') format('woff'),
		url('fonts/icomoon.ttf?-eiwlvb') format('truetype'),
		url('fonts/icomoon.svg?-eiwlvb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
	content: "\ea8d";
	font-size: 16px;
}

.icon-steam2:before {
	content: "\eaae";
	font-size: 16px;
}

.icon-linkedin:before {
	content: "\eac8";
	font-size:16px;
	color:white;
}
.portfolioicon{
width: 30px;
	/*width: 65.625%;*/
	height: 30px;
	margin: 20px auto;
	/*margin: 6.25% auto;*/
	
	display: block;
}
.header{
	text-align:center;
	padding: 28px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color:black;
}
.nav{
	text-align:center;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
h3{
	width:98%;
	margin:20px 1%;
	display:block;
	font-family: 'Open Sans', sans-serif;

}
body{
	background-color: red;
	margin:0;
}

@media (min-width: 768px) {
	.header {
		font-size: 48px;
	}
	.nav{
		font-size:30px;
	}
}
@media (min-width: 1241px) {
	.header{
		font-size: 64px;
		color:white;
	}
	.nav{
		font-size: 40px;
		color:white;
	}
	body{
		
		background-color:black;
	}
		
	a{
		color:white;
	}
	h3{
		color:white;
		margin: 0 auto;
		padding-left: 350px;
	}
}



img{
	width:98%;
	/*height:61px;*/
	margin:20px 1%;
	display:block;
}
@media (min-width: 768px) {
	img {
		width: 500px;
		margin:0 auto;

		/*width: 43.14381271%;*/
		
		
		
		/*margin: 3.412969283%;*/
	}
}

@media (min-width: 1241px) {
	img {
		width: 600px;
		/*width: 29.26829268%;*/
		float:left;
		/*margin: 2.032520325%;*/
		margin:0 auto;
		margin-left: 350px;
		padding-bottom: 20px;

	}	
}


.footer{
	clear:both;
	text-align:center;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}
@media (min-width: 768px) {
	.footer {
		font-size:30px;
		color:white;
	}
}



